body {
    background: #000000;
    color: #FFFFFF;
    font-family: Arial, Helvetica;
}

p, br, ul, ol, td, th, li  {
    color: #FFFFFF;
    font-family: Arial, Helvetica;
    font-size: 10pt;
}

hr {
    color: black;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #33ccff;
}

a:hover {
    color: #ffffff;
}
